@charset "UTF-8";

input[type=password]:invalid {
	border: solid red;
}

input[type=text]:invalid {
	border: solid red;
}

input[type=password]:valid {
	border: solid green;
}

input[type=text]:valid {
	border: solid green;
}